.request {
  width: 60%;
  /* height: 50%; */
  min-height: 50vh;

  background-color: rgb(250, 184, 173);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
